body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.text-center {
  text-align: center;
}

#loginForm {
  width: 250px;
}

#loginForm > .form-group {
  margin: 15px;
}

#endangered {
  display: none;
}

.speciesImg {
  width: 300px;
  height: auto;
  box-shadow: 0 1px 2px black;
}

.listImg {
  width: 100px;
  height: 100px;
  box-shadow: 0 0.5px 1px black;
  margin: 2px;
  object-fit: cover;
}

select {
  text-transform: capitalize;
}

.well {
  box-shadow: 0 2px 8px black;
}
