<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      #foreach($specie in $species)
        <h4 class="pull-right">
        #if($specie.getEndangered())
          <span class="label label-danger">Endangered</span>
        #end
        </h4>
        <h3><a href="/species/$specie.getId()">$specie.getName()</a></h3>
        <!-- Add sighting count -->
        <p>$specie.getHabitat()</p>
        <hr>
      #end
    </div>
  </div>
</div>
